---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Menu</a>
    <a href="/about">Sobre</a>
    <a href="/blog">Blog</a>  
    <h1>Meu Site Astro</h1>
    <h1>Sobre Mim</h1>
    <h2>Este é meu novo projeto de trabalho Astro</h2>

    <p>Trabalho com as tecnologias React, Tailwind CSS e recentemento tenho migrado para Astro.</p> 
    <p>O intuito da migração se trata de utilizar a ferramenta para trabalhos focados em telas slimpes com estilos modernos e componetes dinamicos</p>
	</body>
</html>